* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main-file {
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: #f3f3f3;
}

.main-file h1 {
    font-size: 60px;
    margin-bottom: 1rem;
}

.main-file p {
    font-size: 20px;
    margin-top: 1.5rem;
    color: #666;
}
.main-file .container {
    display: flex;
    justify-content: center;
    max-width: 500px;
    margin: 3rem auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 4rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-container {
    width: 100%;
}

.form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container label {
    font-size: 17px;
    margin-bottom: 0.5rem;
    font-weight: bold;
    text-align: left;
    width: 100%;
}

.form-container input {
    font-size: 16px;
    padding: 0.75rem;
    margin-bottom: 1rem;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.form-container .btn {
    position: relative; 
    background-color: #f55a22;
    color: #fff;
    padding: 1rem 0.5rem;
    border: none;
    border-radius: 10px;
    width: 100%;
    font-weight: bold;
    cursor: pointer;
    overflow: hidden; 
    z-index: 1;
}

.form-container .btn::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, #ff7a42, #f55a22); 
    transition: top 0.3s ease-in-out;
    z-index: -1; 
}

.form-container .btn:hover::before {
    top: 0; 
}

.form-container .btn:hover {
    background-color: #f55a22;
    color: #fff;
}

.form-container .cancel-link {
    margin-top: 1rem;
    font-size: 17px;
    color: #000000;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.form-container .cancel-link:hover {
    color: #ff4500;
}
.form-container .cancel-link i{
    color: #ff4500;
}

/* Media Query for screens with max-width 1080px */
@media screen and (max-width: 1080px) {
    .main-file h1 {
        font-size: 50px;
    }

    .main-file p {
        font-size: 18px;
    }

    .main-file .container {
        max-width: 450px;
        padding: 3rem;
    }

    .form-container input, .form-container .btn {
        font-size: 15px;
    }
}

/* Media Query for screens with max-width 768px */
@media screen and (max-width: 768px) {
    .main-file h1 {
        font-size: 40px;
    }

    .main-file p {
        font-size: 16px;
    }

    .main-file .container {
        max-width: 400px;
        padding: 2.5rem;
    }

    .form-container label, .form-container input, .form-container .btn {
        font-size: 14px;
    }
}

/* Media Query for screens with max-width 480px */
@media screen and (max-width: 480px) {
    .main-file {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .main-file h1 {
        font-size: 30px;
    }

    .main-file p {
        font-size: 14px;
    }

    .main-file .container {
        max-width: 350px;
        padding: 2rem;
    }

    .form-container label {
        font-size: 13px;
    }

    .form-container input {
        font-size: 14px;
        padding: 0.5rem;
    }

    .form-container .btn {
        padding: 0.75rem;
    }

    .form-container .cancel-link {
        font-size: 14px;
    }
}


.features-container {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding: 75px 30px;
    background-color: #ffffff;
}

.feature {
    text-align: center;
    max-width: 250px;
    padding-right: 10px;
}

.feature img {
    width: 70px;
    height: 70px;
    margin-bottom: 15px;
}

.feature h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

.feature p {
    font-size: 16px;
    color: #666;
}


/* Media Queries */
@media (max-width: 1080px) {
    .features-container {
        padding: 50px 20px;
    }
    .feature {
        max-width: 200px; 
    }
}

@media (max-width: 768px) {
    .features-container {
        flex-direction: column; 
        align-items: center;
        padding: 30px 15px;
    }
    .feature {
        padding-right: 0;
        border-right: none;
        margin-bottom: 20px; 
    }
}

@media (max-width: 480px) {
    .feature img {
        width: 50px; 
        height: 50px;
    }
    .feature h3 {
        font-size: 18px;
    }
    .feature p {
        font-size: 14px; 
    }
}


footer {
    background-image: url('Car.jpg');
    background-position: top; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-attachment: fixed;
    color: white;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}
.footer-container{
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.footer-top {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.footer-top img {
    width: 200px;
    margin-bottom: 15px;
    margin-top: 20px;
}

.footer-top1 .visa-img {
    display: flex;
    gap: 15px;
    width: 30px;
    height: 30px;
}

.footer-top1 .visa-img img {
    border-radius: 5px;
}

.footer-top .social-icons a {
    color: white;
    font-size: 20px;
    background-color: #333;
    padding: 10px 15px;
    border-radius: 50%;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.footer-top .newsletter p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}

.footer-top .newsletter-signup {
    display: flex;
    align-items: center;
}

.footer-top .newsletter-signup input {
    border: 1px solid #d3d3d3;
    border-radius: 20px 0 0 20px;
    padding: 10px 15px;
}

.footer-top .newsletter-signup .org {
    border: 1px solid #d3d3d3;
    border-radius: 0 20px 20px 0;
    background-color: #ff4500;
    color: white;
    padding: 10px 15px;
}

.footer-bottom {
    margin-top: 40px;
    padding: 30px 20px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
    gap: 20px;
}

.footer-links h4 {
    font-size: 20px;
    margin-bottom: 15px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 10px;
}
.footer-links ul li a {
    color: #c9c9c9;
    text-decoration: none;
    position: relative;
    font-size: 15px;
}
.footer-links ul li a:hover{
    color: #fff;
}

.footer-links ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s ease-in-out;
}

.footer-links ul li a:hover::after {
    width: 100%;
}

.footer-top1 {
    padding: 20px;
    align-items: center;
    display: flex;
    justify-content:space-between;
}
.footer-top1 .logo p{
    font-size: 13px;
    color: #c9c9c9;
}

.footer-top .social-icons {
    display: flex;
    gap: 15px;
}

.footer-top .social-icons a:hover {
    background-color: #ff4500;
    color: white;
}

.footer-top .social-icons a {
    color: white;
    font-size: 20px;
    background-color: #333;
    padding: 10px 15px;
    border-radius: 50%;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

footer.right-section1 {
    display: flex;
    align-items: center;
}

footer .right-section1 select {
    background-color: #222;
    color: #fff;
    border: none;
    padding: 5px;
    margin-left: 10px;
    cursor: pointer;
}

footer .right-section1 img {
    width: 30px;
    margin-right: 3px;
}

footer .right-section1 span {
    margin: 0 10px;
    color: #fff;
}
.footer-top2{
    background-color: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    padding: 12px;
    justify-content:space-between;
}
.footer-top2 .logo{
    color: #000000;
}
.footer-top2 .logo a , .footer-top2 .right-section2 a{
    color: #555555;
    text-decoration: none;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
}
.footer-top2 .logo a:hover , .footer-top2 .right-section2 a:hover{
    color: #ff4500;
}

/* Media Query for screens with max-width 1080px */
@media screen and (max-width: 1080px) {
    .footer-container {
        max-width: 900px;
        padding: 20px;
    }

    .footer-top {
        flex-direction: column;
        text-align: center;
    }

    .footer-top img {
        width: 150px;
    }
    .footer-top1 .visa-img {
       display: none;
    }

    .footer-links {
        flex-direction: column;
        align-items: center;
    }
    

    .footer-links ul li {
        text-align: center;
    }

    .footer-links ul li a {
        font-size: 14px;
    }
}

/* Media Query for screens with max-width 768px */
@media screen and (max-width: 768px) {
    .footer-container {
        padding: 15px;
    }

    .footer-top {
        flex-direction: column;
        text-align: center;
    }

    .footer-top img {
        width: 130px;
    }

    .footer-top1, .footer-top2 {
        flex-direction: column;
        text-align: center;
    }

    .footer-links {
        flex-direction: column;
        align-items: center;
    }

    .footer-links ul li a {
        font-size: 13px;
    }
}

/* Media Query for screens with max-width 480px */
@media screen and (max-width: 480px) {
    .footer-container {
        padding: 10px;
    }

    .footer-top {
        flex-direction: column;
        text-align: center;
    }

    .footer-top img {
        width: 100px;
    }

    .footer-top1, .footer-top2 {
        flex-direction: column;
        text-align: center;
    }

    .footer-links {
        flex-direction: column;
        align-items: center;
    }

    .footer-links ul li a {
        font-size: 12px;
    }

    .footer-top .social-icons a {
        font-size: 18px;
        padding: 8px 10px;
    }

    footer .right-section1 select {
        font-size: 12px;
    }
}
